section.catalog.container
	h2.h2 Наш каталог
	p.subtitle  Мы производим не только различные светильники, но также облучатели бактерицидные для борьбы с коронавирусной инфекцией
	.catalog__listing
		a(href="" class="catalog__item-1")
			h3.h3 Промышленные светильники
			.catalog__arrow 
				p перейти
				+icon('arrow')
				img(src="static/images/content/catalog/catalog-4.png" class="catalog-img-1" alt="")
		a(href="" class="catalog__item-2")
			h3.h3 Интерьерные светильники
			.catalog__arrow 
				p перейти
				+icon('arrow')
				img(src="static/images/content/catalog/catalog-3.png" class="catalog-img-2", alt="")
		a(href="" class="catalog__item-3")
			h3.h3 Офисные светильники
			.catalog__arrow 
				p перейти
				+icon('arrow')
				img(src="static/images/content/catalog/catalog-1.png" class="catalog-img-3", alt="")
		a(href="" class="catalog__item-4")
			h3.h3 Облучатели-рециркуляторы бактерицидные
			.catalog__arrow 
				p перейти
				+icon('arrow')
				img(src="static/images/content/catalog/catalog-2.png" class="catalog-img-4", alt="")


