header.header
	.header__topline.container
		.header__topline-tel
			a(href="tel:+73433468884") 8 (343) 346-88-84
			a(href="tel:+73433468884") 8 (343) 346-88-84
		a(href="" class="header__logo") 
			img(src="static/images/general/logo.png", alt="Логотип Barcode")
		a(href="mailto:led@barcod.ru") led@barcod.ru
	.header__menu-wrapper 
		nav.header__menu.container
			a(href="" class="header__logo-mob")
				img(src="static/images/general/logo-mob.png", alt="Логотип Barcode")
			.header__menu-right
				a(href="")
					+icon('mail') 
				a(href="")
					+icon('phone-mob') 
				a(href="")
					+icon('catalog') 
			ul
				li
					a(href="") каталог
				li
					a(href="") калькулятор 
				li
					a(href="") о нас
				li
					a(href="") отзывы
				li
					a(href="") проекты
				li
					a(href="") контакты
			button.header__callback обратный звонок

