section.industrial.container
	h2.h2 Промышленные светильники
	p.subtitle Так как мы производим свою продукцию сами, то можем легко поменять ее или создать что-то новое под ваши требования
	.industrial__listing
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
		.industrial__listing-item
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.industrial__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="industrial__listing-btn btn") заказать
