section.projects
	.projects__top
		.projects__top-wrapper.container
			.projects__top-text
				h2.h2 Наши проекты
				.subtitle Посмотрите на проекты и мероприятия, которые мы провели за время нашей работы. От мала до велика.
			video(controls)
				source(src="static/images/video.mp4" type="video/mp4" codecs="avc1.42E01E, mp4a.40.2")
	.projects__bottom.container
		.projects__bottom-item
			img(src="static/images/content/projects/projects.png", alt="")
			.projects__bottom-item-before
				h4 Новый год
				p Краткое описание мероприятия или проекта от Баркода.
				a(href="")
					|подробнее
					+icon('arrow')
		.projects__bottom-item
			img(src="static/images/content/projects/projects.png", alt="")
			.projects__bottom-item-before
				h4 Новый год
				p Краткое описание мероприятия или проекта от Баркода.
				a(href="")
					|подробнее
					+icon('arrow')
		.projects__bottom-item
			img(src="static/images/content/projects/projects.png", alt="")
			.projects__bottom-item-before
				h4 Новый год
				p Краткое описание мероприятия или проекта от Баркода.
				a(href="")
					|подробнее
					+icon('arrow')
		.projects__bottom-item
			img(src="static/images/content/projects/projects.png", alt="")
			.projects__bottom-item-before
				h4 Новый год
				p Краткое описание мероприятия или проекта от Баркода.
				a(href="")
					|подробнее
					+icon('arrow')
	.projects__bottom-btn-wrapper
		a.projects__bottom-btn.btn(href="") показать еще