section.contacts.container
	h2.h2 Связаться с нами
	.subtitle Если у вас возникли вопросы, пожалуйста, свяжитесь с нами по контактам ниже
	.contacts__items
		.contacts__item
			.contacts__item-icon
				+icon('address')
			.contacts__item-text
				h5.h5 Адрес
				p Кузнецова, 26, офис 1303
		.contacts__item
			.contacts__item-icon
				+icon('phone')
			.contacts__item-text
				h5.h5 Телефон
				a(href="tel:+73433468884") 8 (343) 346-88-84
		.contacts__item
			.contacts__item-icon
				+icon('mail')
			.contacts__item-text
				h5.h5 Почта
				a(href="mailto:led@barcod.ru") led@barcod.ru
	.contacts__btn-wrapper
		a.contacts__btn.btn(href="") связаться с нами

		