section.irradiator.container
	h2.h2 Облучатели-рециркуляторы
	.subtitle Каждый из наших облучателей-рециркуляторов может быть как настенным, так и напольным
	.irradiator__listing
		.irradiator__listing-item 
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.irradiator__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="irradiator__listing-btn btn") заказать
		.irradiator__listing-item 
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.irradiator__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="irradiator__listing-btn btn") заказать
		.irradiator__listing-item 
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.irradiator__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="irradiator__listing-btn btn") заказать