section.interior.container
	h2.h2 Интерьерные светильники
	.subtitle В таких светильниках сделан особый акцент на дизайне, поэтому с их помощью вы добавите в ваше помещение не только света, но и уюта
	.interior__listing
		.interior__listing-item 
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.interior__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="interior__listing-btn btn") заказать
		.interior__listing-item 
			img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
			.interior__listing-name
				h4.h4  ДПО 054
				p 1650 руб.
			a(href="" class="interior__listing-btn btn") заказать