section.delivery.container
	h2.h2 Доставка
	.delivery__content
		.delivery__left
			.title Способы доставки
			.delivery__left-item
				p 01
				p Доставка «до двери». Доставим заказ на любой адрес с помощью транспортной компании.
			.delivery__left-item
				p 02
				p До представительства ТК. Доставка до вашей транспортной компании по всей территории РФ.
			.delivery__left-item
				p 03
				p Самовывоз. Вы можете забрать товар сами со склада или офисов компании.
		.delivery__right-item-one
				.title Сроки
				.subtitle Сроки доставки составляют от 1 до 10 рабочих дней, в зависимости от наличия и вида товара. Если товара нет в наличии, срок доставки рассчитывается индивидуально
		.delivery__right-item-two
				.title Стоимость
				.subtitle Работаем с проверенными транспортными компаниями: ПЭК, Деловые линии, СДЭК . Стоимость доставки от 500 рублей и рассчитывается индивидуально под заказ.
