footer.footer
	.container
		.footer__wrapper
			.footer__left
				a.footer__logo(href="") 
					img(src="static/images/general/logo-footer.png", alt="Логотип Barcode")
				nav
					ul
						li
							a(href="") каталог
						li
							a(href="") калькулятор
						li
							a(href="") о компании
						li
							a(href="") отзывы
						li
							a(href="") проекты
						li
							a(href="") контакты
				a.footer__clip(href="")
					+icon('clip')
					|скачать реквизиты
			.footer__right-item
						h5.h5 Екатеринбург
						p г. Екатеринбург, ул. Кузнецова 2б (Деловой центр ASK), офис 1303
						a(href="tel:+73433468884") 8 (343) 346-88-84
						a(href="mailto:led@barcod.ru") led@barcod.ru
			.footer__right-item
						h5.h5 Москва
						p г. Звенигород, ул. Чехова, д. 1, помещение 2, офис 4
						a(href="tel:+73433468884") 8 (343) 346-88-84
						a(href="mailto:led@barcod.ru") led@barcod.ru
		.footer__protection
			p cайт создан 
				span 
					a(href="") ROIburo
			p Все права защищены. Копирование материалов преследуется по закону.