section.about.container
	.about__wrapper
		.about__left
			h2.h2 О нас
			p С 2010 года компания Barco&D производит светодиодные светильники для офисных и промышленных помещений. В начале этого года мы расширили наш ассортимент, и теперь продаем бактерицидные облучатели для обеззараживании воздуха.
			p Благодаря собственному производству, мы можем предложить каждому клиенту индивидуальный подход и подстроить любое изделие под его требования.
			.about__items
				.about__item лет на рынке
				.about__item заказов по светильникам
				.about__item сотрудников
				.about__item заказов по рециркуляторам
		.about__right
			.about__right-wrapper
				img(src="static/images/content/about/about.png", alt="")
