/// ADAPTIVE ///

$maxWC: 1110px;
$minW: 320px;
$maxW: 1920;
$md1: 1100px;
$md2: 1024px;
$md3: 768px;
$md4: 480px;

/// COLORS ///

$main: #8cd0df;
$maindark: #7cc9db;
$text: #3a4043;
$dark: #525b60;
$input-border: #eaebeb;
$bgc: #f7f7f7;
$bgc2: #e1f2f6;

/// FONT-FAMILY ///

$ff-main: "Lato";
$ff-title: "Oswald";
