section.feedback
	.feedback__slider.swiper-container
		.feedback__slider-wrapper.swiper-wrapper
			.feedback__slider-slide.swiper-slide
				.feedback__slider-before
					img(src="static/images/general/partners/sber.png", alt="")
				.feedback__slider-after
					img(src="static/images/general/partners/sber.png", alt="")
					p Сбербанк выражает благодарность за оперативную и своевременную поставку 250 бактерицидных рециркуляторов
					a(href="")
						|весь отзыв
						+icon('arrow')
			.feedback__slider-slide.swiper-slide
				.feedback__slider-before
					img(src="static/images/general/partners/midural.png", alt="")
				.feedback__slider-after
					img(src="static/images/general/partners/midural.png", alt="")
					p На следующий день после оплаты счета мы получили облучатели-рециркуляторы бактерицидные в полном объеме.
					a(href="")
						|весь отзыв
						+icon('arrow')
			.feedback__slider-slide.swiper-slide
				.feedback__slider-before
					img(src="static/images/general/partners/zavod.png", alt="")
				.feedback__slider-after
					img(src="static/images/general/partners/zavod.png", alt="")
					p Компания ООО «Барко-Диджитал» является нашим авторизованным производственным партнером. 
					a(href="")
						|весь отзыв
						+icon('arrow')
			.feedback__slider-slide.swiper-slide
				.feedback__slider-before
					img(src="static/images/general/partners/sber.png", alt="")
				.feedback__slider-after
					img(src="static/images/general/partners/sber.png", alt="")
					p Сбербанк выражает благодарность за оперативную и своевременную поставку 250 бактерицидных рециркуляторов
					a(href="")
						|весь отзыв
						+icon('arrow')
			.feedback__slider-slide.swiper-slide
				.feedback__slider-before
					img(src="static/images/general/partners/midural.png", alt="")
				.feedback__slider-after
					img(src="static/images/general/partners/midural.png", alt="")
					p На следующий день после оплаты счета мы получили облучатели-рециркуляторы бактерицидные в полном объеме.
					a(href="")
						|весь отзыв
						+icon('arrow')
			.feedback__slider-slide.swiper-slide
				.feedback__slider-before
					img(src="static/images/general/partners/zavod.png", alt="")
				.feedback__slider-after
					img(src="static/images/general/partners/zavod.png", alt="")
					p Компания ООО «Барко-Диджитал» является нашим авторизованным производственным партнером. 
					a(href="")
						|весь отзыв
						+icon('arrow')
	.feedback__text
		h2.h2 Отзывы
		.subtitle Вот, что наши клиенты пишут о сотрудничестве с нами
		.feedback__text-navigation
			.feedback__text-progressbar
			.feedback__text-button-prev
				+icon('prev')
			.feedback__text-button-next
				+icon('prev-2')

