section.help
	.help__wrapper.container
		img(src="static/images/general/help/kovichka-1.png", alt="" class="kovichka-1")
		h2.h2 Нужна помощь?
		.subtitle Получите скидку 15% на весь заказ и индивидуальное предложение, ответив всего на 5 вопросов
		a(href="" class="help__btn btn") пройти опрос
		img(src="static/images/general/help/kovichka-2.png", alt="" class="kovichka-2")