section.office
	.container
		h2.h2 Офисные светильники
		.subtitle Наши светильники качественно осветят любое офисное помещение и создадут комфортные условия для ваших сотрудников
		.office__listing
			.office__listing-item-wrapper
				.office__listing-item 
					img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
					.office__listing-name
						h4.h4  ДПО 054
						p 1650 руб.
					a(href="" class="office__listing-btn btn") заказать
			.office__listing-item-wrapper
				.office__listing-item 
					img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
					.office__listing-name
						h4.h4  ДПО 054
						p 1650 руб.
					a(href="" class="office__listing-btn btn") заказать
			.office__listing-item-wrapper
				.office__listing-item 
					img(src="static/images/content/industrial/listing-industrial-1.png", alt="")
					.office__listing-name
						h4.h4  ДПО 054
						p 1650 руб.
					a(href="" class="office__listing-btn btn") заказать