main.main
	.main__wrapper.container
		.main__left
			h1 Светильники Barco
			p Производим светильники для офисных и промышленных помещений
			a.btn.btn--white.btn--br50(href="") смотреть каталог
		.main__right
			img(src="static/images/content/main/main-1.png", alt="Светильники Barco")
			.main__right-items
				.main__right-item
					+icon('production')
					p собственное производство
				.main__right-item
					+icon('custom')
					p изготовление на заказ
